nav {
  .menu-bars-b {
    display: none;
    color: var(--white-colour);
    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 75%);
      font-size: 1.8rem;
      cursor: pointer;
    }
    a {
      color: aliceblue;
    }
  }
  .img-logo {
    width: 80px;
    height: auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  a {
    color: var(--colour-15);
  }
}
.nav-menu {
  background-color: rgba(9, 0, 49, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  right: -100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 850ms;
  z-index: 99;

  .nav-menu-items {
    display: flex;
    align-content: center;
    width: auto;
    height: 100vh;

    .navbar-toggle {
      display: flex;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      margin: 20px;
      .menu-bars-close {
        font-size: 30px;
      }
    }

    .menu-li {
      width: 200px;
      height: 300px;
      text-align: center;
      margin-top: 40px;
      li {
        list-style: none;
        margin-top: 20px;
        a {
          font-size: 20px;
          letter-spacing: 1px;
          font-weight: 600;
          text-decoration: none;
          color: var(--white-colour);
          &:hover {
            color: var(--secundary-colour);
          }
        }
      }
    }
  }
}
.nav-menu.active {
  right: 0;
  transition: 350ms;
}
