.medalcoin {
    height: 100%;
    color: var(--white-colour);
    .container-medal {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 140px;
      max-width: 100%;
      height: 100%;
      margin: 0 200px;
  
      .medal {
        width: 40%;
        height: auto;
      }
      .medal-text {
        width: 40%;
        align-self: center;
        h1 {
          margin-top: 60px;
          font-size: 36px;
        }
        p {
          max-width: 500px;
          margin-top: 10px;
        }
      }
    }
    @media screen and (max-width: 1300px) {
      .container-medal {
        margin: 0 100px;
      }
    }
    @media screen and (max-width: 768px) {
      .container-medal {
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
        .medal-text {
          text-align: center;
          width: 100%;
     
          p {
            max-width: 100%;
          }
        }
      }
    }
  }
  