.distributions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--white-colour);
    .content-text{
        align-self: center;
        width: 300px;
        height: auto;
        h2{
            color: var(--secundary-colour);
            font-size: 16px;
        }
        span{
            font-size: 36px;
            margin-bottom: 20px;
        }
    }
    .animation{
        width: 550px;
    }
}