.container-slider-movil {
  min-width: 320px;
  position: absolute;
  margin: 0;
  margin-top: 140px;
  padding: 0;
  color: var(--white-colour);
  font-size: 16px;
  span {
    color: var(--secundary-colour);
    text-align: center;
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 20px;
  }
  .slider-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    .img-medal {
      width: 200px;
      height: auto;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .slider-1-text {
      text-align: center;
      margin: 20px 40px;
      span {
        font-size: 1rem;
      }
    }
  }
  .slider-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    .slider-2-text {
      span {
        display: block;
      }
      h1 {
        text-align: center;
      }

      li {
        display: flex;
        align-items: center;
        height: 30px;
        margin: 20px 10px;
        img {
          display: block;
          width: 28px;
          height: 28px;
        }
      }
    }
    .img-medal {
      padding: 20px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
  .slider-3{
    margin-top: 60px;
    .slider-3-text{
      text-align: center;
      span{
        display: block;
      }}
      .problems-m{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        img{
          display: block;
          width: 100px;
          height: 100px;
        }
        .problems-titulo{
          text-align: center;
        }
      }
    
  }
  .slider-4{
    margin-top: 60px;
    .slider-4-text{
      text-align: center;
      margin: 20px;
      span{
        display: block;
      }
    }
    .img-solution{
      display: flex;
      justify-content: center;
      margin: 20px auto;
      img{
        display: block;
        min-width: 150px;
        height: auto;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .container-slider-movil {
    display: none;
  }
}
