.container-slider{
  background-image: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: auto;
    .slider{
        width: 100%;
        height: auto;
      .carousels {
        width: 100%;
        height: 100vh;
        z-index: 4;
          .control-dots{
            bottom: 20px; 
          
        }
      }
    }
}
@media screen and (max-width: 768px) {
  .container-slider {
    display: none;
  }
}
