.container-footer {
    display: flex;
    flex-direction: column;
    background: transparent;
    font-size: 16px;
    padding:10px;
    background-color:#0e0416;
    .footer-section {
      display: flex;
      width: 70%;
      margin: 0 auto;
      .container-privacy {
        display: flex;
        margin-top: 60px;
  
        .logo-medal {
          img {
            display: block;
            width: 120px;
            height: auto;
          }
        }
        // .logo-medal::after {
        //   position: absolute;
        //   content: "";
        //   width: 1px;
        //   height: 10px;
        //   background: var(--white-colour);
        //   right: 0;
        // }
        .privacy {
          width: 100%;  
          color: var(--white-colour);
          margin-left: 20px;
          span {
            font-weight: 300;
            font-size: 14px;
          }
        }
        @media screen and (max-width: 800px) {
          .privacy {
              margin-left: 40px;
          
          }
        }
      }
      .icon-redes {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: end;
        margin-top: 55px;
        .container-redes {
          a {
            color: var(--white-colour);
            text-decoration: none;
            margin: 0px 10px;
            transition: all 0.4s ease-in-out;
            font-size: 26px;
            &:hover{
              color: var(--gray-colour-text);
              transition: all 0.4s ease-in-out;
              
            }
            i {
              font-size: 32px;
              cursor: pointer;
              list-style: none;

            }
      
          }
        }
     
      }
      @media screen and (max-width: 800px) {
          .icon-redes{
              margin-top: 40px;
              justify-content: center;
          
          }
        }
    }
    @media screen and (max-width: 800px) {
      .footer-section{
        flex-direction: column;
      
      }
    }
    .footer-description {
      width: 40%;
      margin: 80px auto;
      font-size: 16px;
      p {
        font-size: 1em;
        font-weight: 300;
        color: var(--white-colour);
        margin: 0;
        padding: 0;
        color: var(--gray-colour-text);
      }
   
    }
    @media screen and (max-width: 800px) {
      .footer-description{
          width: 100%;
        font-size: 14px;
        margin: 30px auto;
        
        p{
            text-align: center;
        }
      }
    }
  }
  