@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;0,700;0,900;1,300;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: var(--primary-colour);
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-colour: #10021d;
  --secundary-colour: #e8cf63;
  --white-colour: #ffffff;
  --gray-colour-text: #85929e;
  --colour-span-text: #7f5e88;
  --colour-text: #000000;
  --font-family-primary: "Montserrat", sans-serif;
  --colour-purple-medium: #30103a;
  --colour-purple: #4c165b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
